<!DOCTYPE html>
{% load static %}
<html lang="en">
<!-- Basic -->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Site Metas -->
    <title>Lloyds Bakery</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Site Icons -->
    <link rel="shortcut icon" href="#" type="{% static 'image/x-icon' %}" />
    <link rel="apple-touch-icon" href="#" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <!-- Pogo Slider CSS -->
    <link rel="stylesheet" href="{% static 'css/pogo-slider.min.css' %}" />
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        {% block css %} {% endblock %} 
            </style>
</head>
<!-- Signup Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="font-family: Georgia, 'Times New Roman', Times, sans-serif; color:
                #17202A ;" class="modal-title" id="signupModalTitle">Lloyds Bakery Registration</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action='/signup/' method='post'>
                    <div class="form-group">
                        <label style="font-family: Georgia, 'Times New Roman', Times, sans-serif; color:
                #17202A ;" for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Choose a unique Username...">
                    </div>
                    <div class="form-group">
                        <label style="font-family: Georgia, 'Times New Roman', Times, sans-serif; color:
                #17202A ;" for="fname">First Name</label>
                        <input type="text" class="form-control" id="fname" name="fname" placeholder="Your First Name Here...">
                    </div>
                    <div class="form-group">
                        <label style="font-family: Georgia, 'Times New Roman', Times, sans-serif; color:
                #17202A ;" for="lname">Last Name</label>
                        <input type="text" class="form-control" id="lname" name="lname" placeholder="Your Last Name Here...">
                    </div>
                    <div class="form-group">
                        <label style="font-family: Georgia, 'Times New Roman', Times, sans-serif; color:
                #17202A ;" for="email">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your Email Here...">
                    </div>
                    <div class="form-group">
                        <label style="font-family: Georgia, 'Times New Roman', Times, sans-serif; color:
                #17202A ;" for="pass1">Password</label>
                        <input type="password" class="form-control" id="pass1" name="pass1" placeholder=" Your Password Here...">
                    </div>
                    <div class="form-group">
                        <label style="font-family: Georgia, 'Times New Roman', Times, sans-serif; color:
                #17202A ;" for="pass2">Confrim Password</label>
                        <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Confirm Your Password Here...">
                    </div>
                    {% csrf_token %}
                    <button style="font-family: Georgia, 'Times New Roman', Times, sans-serif; " type="submit" class="btn btn-outline-dark">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="font-family: Georgia, 'Times New Roman', Times, sans-serif; color:
                #17202A ;" class="modal-title" id="loginModalTitle">Lloyds Bakery Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action='/login/' method='post'>
                    <div class="form-group">
                        <label style="font-family: Georgia, 'Times New Roman', Times, sans-serif; color:
                #17202A ;" for="username">Username</label>
                        <input type="text" class="form-control" id="loginusername" name="loginusername" placeholder="Enter Your Username Here...">
                    </div>
                    <div class="form-group">
                        <label style="font-family: Georgia, 'Times New Roman', Times, sans-serif; color:
                #17202A ;" for="pass">Enter Password</label>
                        <input type="password" class="form-control" id="loginpassword" name="loginpassword" placeholder=" Enter Your Password Here...">
                    </div>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-dark">Submit</button>
                    <h1></h1>
                    <h6>Dont have an account?</h6>
                    <li class="nav-item dropdown">
                        <a style="font-family: Georgia, 'Times New Roman', Times, sans-serif; " class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Signup
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a style="font-family: Georgia, 'Times New Roman', Times, sans-serif; " class="dropdown-item" data-toggle="modal" data-target="#signupModal">Signup</a>
                        </div>
                    </li>
                </form>
            </div>
        </div>
    </div>
</div>

<body id="home" data-spy="scroll" data-target="#navbar-wd" data-offset="98">
    <!-- Start header -->
    <header class="top-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/" style="color:crimson;font-size:150px;">
                <h1 style="font-family: Georgia, 'Times New Roman', Times, sans-serif;color: brown;font-size:23px;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cup" fill="crimson" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M12 4H4v8a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4zM3 3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V3H3z" />
                        <path fill-rule="evenodd" d="M14.5 5.5h-2v-1h2A1.5 1.5 0 0 1 16 6v4a1.5 1.5 0 0 1-1.5 1.5h-2v-1h2a.5.5 0 0 0 .5-.5V6a.5.5 0 0 0-.5-.5z" />
                    </svg>
                    <b>Lloyds Bakery</b>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cup-straw" fill="crimson" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4.497 5.942l.959 8.155c.014.118.06.181.101.21C5.912 14.555 6.724 15 8 15s2.088-.445 2.443-.693c.04-.029.087-.092.101-.21l.96-8.155.993.116-.96 8.156a1.279 1.279 0 0 1-.52.912C10.53 15.466 9.522 16 8 16s-2.531-.534-3.016-.874a1.279 1.279 0 0 1-.521-.912l-.96-8.156.994-.116z" />
                        <path fill-rule="evenodd" d="M4.467 6.116l.005-.006a.024.024 0 0 1-.005.006zM4.645 6c.146-.073.362-.15.648-.222C5.967 5.61 6.924 5.5 8 5.5c1.076 0 2.033.11 2.707.278.286.072.502.149.648.222-.146.073-.362.15-.648.222C10.033 6.39 9.076 6.5 8 6.5c-1.076 0-2.033-.11-2.707-.278A3.284 3.284 0 0 1 4.645 6zm6.888.116s-.003-.002-.005-.006l.005.006zm-.005-.226a.026.026 0 0 1 .005-.006l-.005.006zm-7.056 0l-.005-.006s.003.002.005.006zm.578-1.082C5.824 4.614 6.867 4.5 8 4.5c1.133 0 2.176.114 2.95.308.383.096.728.218.99.372.228.135.56.396.56.82 0 .424-.332.685-.56.82-.262.154-.607.276-.99.372-.774.194-1.817.308-2.95.308-1.133 0-2.176-.114-2.95-.308-.383-.096-.728-.218-.99-.372-.228-.135-.56-.396-.56-.82 0-.424.332-.685.56-.82.262-.154.607-.276.99-.372z" />
                        <path fill-rule="evenodd" d="M12.964 1.314a.5.5 0 0 1-.278.65l-2.255.902-.943 4.242-.976-.216 1-4.5a.5.5 0 0 1 .302-.356l2.5-1a.5.5 0 0 1 .65.278z" />
                    </svg>
                </h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a style="font-family: Georgia, 'Times New Roman', Times, sans-serif;color: brown; " class="nav-link" href="/shop/"><b>Home</b><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item ">
                        <a style="font-family: Georgia, 'Times New Roman', Times, sans-serif;color: brown;" class="nav-link" href="/shop/about"><b>About</b></a>
                    </li>
                    <li class="nav-item ">
                        <a style="font-family: Georgia, 'Times New Roman', Times, sans-serif;color: brown;" class="nav-link" href="/shop/contact"><b>Contact Us</b></a>
                    </li>
                </ul>
                <div class="ml-auto form-inline">
                    <form method='get' action='/shop/search/' class="my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
                        <button style="font-family: Georgia, 'Times New Roman', Times, sans-serif; " class="btn btn-outline-dark my-2 my-sm-0 mr-2" type="submit">Search</button>
                    </form>
                    {% if user.is_authenticated %}
                    <ul class="navbar-nav mr-2 ml-auto">
                        <li class="nav-item dropdown">
                            <a style="font-family: Georgia, 'Times New Roman', Times, sans-serif;color: brown; " class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Welcome {{request.user}}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a style="font-family: Georgia, 'Times New Roman', Times, sans-serif;color: brown; " class="dropdown-item" href="/logout">Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
                {% else %}
                <!-- Button to trigger Login modal -->
                <li class="nav-item dropdown">
                    <a style="font-family: Georgia, 'Times New Roman', Times, sans-serif;color: brown; " class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Login
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a style="font-family: Georgia, 'Times New Roman', Times, sans-serif;color: brown; " class="dropdown-item" href="/admin">Admin</a>
                        <div class="dropdown-divider"></div>
                        <a style="font-family: Georgia, 'Times New Roman', Times, sans-serif;color: brown; " class="dropdown-item" data-toggle="modal" data-target="#loginModal">User</a>
                    </div>
                </li>
                <!-- Button to trigger Signup modal -->
                <li class="nav-item dropdown">
                    <a style="font-family: Georgia, 'Times New Roman', Times, sans-serif;color: brown; " class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Signup
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a style="font-family: Georgia, 'Times New Roman', Times, sans-serif;color: brown; " class="dropdown-item" data-toggle="modal" data-target="#signupModal">Signup</a>
                    </div>
                </li>
                {% endif %}
                <button style="font-family: Georgia, 'Times New Roman', Times, sans-serif; " type="button" class="btn btn-outline-secondary mr-2" id="popcart" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true" data-content="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus.">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                    </svg>
                    <a style="color: white">Cart(<span id="cart">0</span>)</a>
                </button>
        </nav>
        <div>
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!
                </strong> {{ message }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </header>
    <!-- End header -->
    {% block body %} {% endblock %}
    <!-- section -->
    <div class="section layout_padding padding_bottom-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="full">
                        <div class="heading_main text_align_center">
                            <h2 style="font-family: Georgia, 'Times New Roman', Times, sans-serif;"><span>Contact</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <!-- section -->
    <div class="section contact_section" style="background:#f0e8e2;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 my-4">
                    <div class="full float-right_img">
                        <img src="{% static 'images/p3.png' %} " alt="#">
                    </div>
                </div>
                <div class="layout_padding col-lg-6 col-md-6 col-sm-12">
                    <div class="contact_form">
                        <form action="/shop/contact/" method="post">{% csrf_token %}
                            <fieldset>
                                <h3 style="font-family: Georgia, 'Times New Roman', Times, sans-serif;">Contact Us</h3>
                                <p style="font-family: Georgia, 'Times New Roman', Times, sans-serif;">Swing by for a cup of coffee, or leave us a message:</p>
                                <div class="form-group">
                                    <label for="name" style="font-family: Georgia, 'Times New Roman', Times, sans-serif;">Name</label>
                                    <input type="text" class="form-control" id="name" name='name' placeholder="Enter Your Name..">
                                </div>
                                <div class="form-group">
                                    <label for="name" style="font-family: Georgia, 'Times New Roman', Times, sans-serif;">Email</label>
                                    <input type="email" class="form-control" id="email" name='email' placeholder="Enter Your Email..">
                                </div>
                                <div class="form-group">
                                    <label for="name" style="font-family: Georgia, 'Times New Roman', Times, sans-serif;">Phone</label>
                                    <input type="tel" class="form-control" id="phone" name='phone' placeholder="Enter Your Phone Number..">
                                </div>
                                <div class="form-group">
                                    <label for="desc" style="font-family: Georgia, 'Times New Roman', Times, sans-serif;">How May We Help You?</label>
                                    <textarea class="form-control" id="desc" name='desc' placeholder="Write Here.." rows="3"></textarea>
                                </div>
                                <button type="submit" class="btn btn-outline-dark" style="font-family: Georgia, 'Times New Roman', Times, sans-serif;">Submit</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end section -->
    <div style="width: 100%"><iframe width="100%" height="600" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=government%20college%20of%20engineering%20and%20textile%20technology%20serampore+(Lloyds%20Bakery)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="http://www.gps.ie/">Google Maps GPS</a></div>
    <!-- Start Footer -->
    {% load static %}
    <footer class="footer-box">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="footer_blog">
                        <div class="full margin-bottom_30">
                            <h1 style="font-family: Georgia, 'Times New Roman', Times, sans-serif;color:#000;font-size:36px;">Lloyds Bakery</h1>
                        </div>
                        <div class="full white_fonts">
                            <p style="font-family: Georgia, 'Times New Roman', Times, sans-serif;">Lloyds Bakery is one of only a handful few enduring Craft Bakeries in India.Lloyds Bakery will happily take you through the range. </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="footer_blog footer_menu white_fonts">
                        <h3 style="font-family: Georgia, 'Times New Roman', Times, sans-serif;">Quick links</h3>
                        <ul>
                            <li><a style="font-family: Georgia, 'Times New Roman', Times, sans-serif;" href="#">> Join Us</a></li>
                            <li><a style="font-family: Georgia, 'Times New Roman', Times, sans-serif;" href="#">> Maintenance</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="footer_blog full white_fonts">
                        <h3 style="font-family: Georgia, 'Times New Roman', Times, sans-serif;">Follow Us</h3>
                        <div class="newsletter_form">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-youtube"></i></a>
                            <form action="index.html">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                    <div class="footer_blog full white_fonts">
                        <h3 style="font-family: Georgia, 'Times New Roman', Times, sans-serif;">Contact us</h3>
                        <ul class="full">
                            <li style="font-family: Georgia, 'Times New Roman', Times, sans-serif;"><img src="{% static 'images/i13.png' %} "><span>
                            <li>12, William Carey Sarani, Maniktala,</li>
                            <li style="font-family: Georgia, 'Times New Roman', Times, sans-serif;"> Serampore, West Bengal 712201 </li></span></li>
                            <li style="font-family: Georgia, 'Times New Roman', Times, sans-serif;"><img src="{% static 'images/i14.png' %} "><span>Lloydsbakery@gmail.com</span></li>
                            <li style="font-family: Georgia, 'Times New Roman', Times, sans-serif;"><img src="{% static 'images/i12.png' %} "><span>840420421</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p style="font-family: Georgia, 'Times New Roman', Times, sans-serif;" class="crp">© Copyrights 2020 design by html.design</p>
                </div>
            </div>
        </div>
    </div>
    <a href="#" id="scroll-to-top" class="hvr-radial-out"><i class="fa fa-angle-up"></i></a>
    <!-- ALL JS FILES -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
    <script src=" {% static 'js/jquery.magnific-popup.min.js' %} "></script>
    <script src="{% static 'js/jquery.pogo-slider.min.js' %} "></script>
    <script src="{% static 'js/slider-index.js' %} "></script>
    <script src="{% static 'js/smoothscroll.js' %} "></script>
    <script src="{% static 'js/form-validator.min.js' %} "></script>
    <script src="{% static 'js/contact-form-script.js' %} "></script>
    <script src="{% static 'js/isotope.min.js' %} "></script>
    <script src="{% static 'js/images-loded.min.js' %} "></script>
    {% block js %} {% endblock %}
    <script src="{% static 'js/custom.js' %} "></script>
    <script>
    console.log('working');
    // Find out the cart items from localStorage
    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));
        updateCart(cart);
    }

    // If the add to cart button is clicked, add/increment the item
    //$('.cart').click(function() {
    $('.divpr').on('click', 'button.cart', function() {
        var idstr = this.id.toString();
        if (cart[idstr] != undefined) {
            qty = cart[idstr][0] + 1;
        } else {
            qty = 1;
            name = document.getElementById('name' + idstr).innerHTML;
            price = document.getElementById('price' + idstr).innerHTML;
            cart[idstr] = [qty, name, price];
        }
        updateCart(cart);
    });
    //Add Popover to 
    $('#popcart').popover();
    updatePopover(cart);

    function updatePopover(cart) {
        console.log('We are inside updatePopover');
        var popStr = "";
        popStr = popStr + "<h6> Your Shopping Cart </h6><div class='mx-2 my-2'>";
        var i = 1;
        for (var item in cart) {
            popStr = popStr + "<b>" + i + "</b>. ";
            popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 19) + "... Qty: " + cart[item][0] + '<br>';
            i = i + 1;
        }
        popStr = popStr + "</div> <a href='/shop/checkout'><button class='btn btn-outline-dark' id ='checkout'>Checkout</button></a> <button class='btn btn-outline-dark' onclick='clearCart()' id ='clearCart'>Clear Cart</button> "
        console.log(popStr);
        document.getElementById('popcart').setAttribute('data-content', popStr);
        $('#popcart').popover('show');
    }


    function clearCart() {
        cart = JSON.parse(localStorage.getItem('cart'));
        for (var item in cart) {
            document.getElementById('div' + item).innerHTML = '<button id="' + item + '" class="btn btn-dark cart">Add To Cart</button>'
        }
        localStorage.clear();
        cart = {};
        updateCart(cart);
    }



    function updateCart(cart) {
        var sum = 0;
        for (var item in cart) {
            sum = sum + cart[item][0];
            document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-dark minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-dark plus'> + </button>";
        }
        localStorage.setItem('cart', JSON.stringify(cart));
        document.getElementById('cart').innerHTML = sum;
        console.log(cart);
        updatePopover(cart);
    }


    // If plus or minus button is clicked, change the cart as well as the display value
    $('.divpr').on("click", "button.minus", function() {
        a = this.id.slice(7, );
        cart['pr' + a][0] = cart['pr' + a][0] - 1;
        cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
        document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
        updateCart(cart);
    });
    $('.divpr').on("click", "button.plus", function() {
        a = this.id.slice(6, );
        cart['pr' + a][0] = cart['pr' + a][0] + 1;
        document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
        updateCart(cart);
    });
    </script>
    <script>
    /* counter js */

    (function($) {
        $.fn.countTo = function(options) {
            options = options || {};

            return $(this).each(function() {
                // set options for current element
                var settings = $.extend({}, $.fn.countTo.defaults, {
                    from: $(this).data('from'),
                    to: $(this).data('to'),
                    speed: $(this).data('speed'),
                    refreshInterval: $(this).data('refresh-interval'),
                    decimals: $(this).data('decimals')
                }, options);

                // how many times to update the value, and how much to increment the value on each update
                var loops = Math.ceil(settings.speed / settings.refreshInterval),
                    increment = (settings.to - settings.from) / loops;

                // references & variables that will change with each update
                var self = this,
                    $self = $(this),
                    loopCount = 0,
                    value = settings.from,
                    data = $self.data('countTo') || {};

                $self.data('countTo', data);

                // if an existing interval can be found, clear it first
                if (data.interval) {
                    clearInterval(data.interval);
                }
                data.interval = setInterval(updateTimer, settings.refreshInterval);

                // initialize the element with the starting value
                render(value);

                function updateTimer() {
                    value += increment;
                    loopCount++;

                    render(value);

                    if (typeof(settings.onUpdate) == 'function') {
                        settings.onUpdate.call(self, value);
                    }

                    if (loopCount >= loops) {
                        // remove the interval
                        $self.removeData('countTo');
                        clearInterval(data.interval);
                        value = settings.to;

                        if (typeof(settings.onComplete) == 'function') {
                            settings.onComplete.call(self, value);
                        }
                    }
                }

                function render(value) {
                    var formattedValue = settings.formatter.call(self, value, settings);
                    $self.html(formattedValue);
                }
            });
        };

        $.fn.countTo.defaults = {
            from: 0, // the number the element should start at
            to: 0, // the number the element should end at
            speed: 1000, // how long it should take to count between the target numbers
            refreshInterval: 100, // how often the element should be updated
            decimals: 0, // the number of decimal places to show
            formatter: formatter, // handler for formatting the value before rendering
            onUpdate: null, // callback method for every time the element is updated
            onComplete: null // callback method for when the element finishes updating
        };

        function formatter(value, settings) {
            return value.toFixed(settings.decimals);
        }
    }(jQuery));

    jQuery(function($) {
        // custom formatting example
        $('.count-number').data('countToOptions', {
            formatter: function(value, options) {
                return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
            }
        });

        // start all the timers
        $('.timer').each(count);

        function count(options) {
            var $this = $(this);
            options = $.extend({}, options || {}, $this.data('countToOptions') || {});
            $this.countTo(options);
        }
    });
    </script>
</body>

</html>